src/conf/xml-resources/web-services/ServHospital/wsdl/servHosp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="servHosp"
    targetNamespace="http://www.itorizaba.com/servHosp.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.itorizaba.com/servHosp.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.itorizaba.com/servHosp.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.itorizaba.com/servHosp.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.itorizaba.com/servHosp.xsd1">
            <xsd:complexType name="Consulta">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="noExp" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="apellidos" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="consultorio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="noPiso" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="medico" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="especialidad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="fecCon" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="observacion" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Paciente">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="noExp" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="apellidos" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="direccion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="ciudad" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrConsultas">
                <xsd:sequence>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="1"
                        name="item"
                        type="xsd1:Consulta"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrPacientes">
                <xsd:sequence>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="1"
                        name="item"
                        type="xsd1:Paciente"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtenerDetallesResponse">
        <wsdl:part name="respuesta" type="xsd1:ArrConsultas"/>
    </wsdl:message>
    <wsdl:message name="obtenerPacientesResponse">
        <wsdl:part name="respuesta" type="xsd1:ArrPacientes"/>
    </wsdl:message>
    <wsdl:message name="obtenerDetallesRequest">
        <wsdl:part name="noExp" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="pacPorCiudadRequest">
        <wsdl:part name="ciudad" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="pacPorCiudadResponse">
        <wsdl:part name="respuesta" type="xsd1:ArrPacientes"/>
    </wsdl:message>
    <wsdl:message name="obtenerPacientesRequest">   </wsdl:message>
    <wsdl:portType name="servHospPortType">
        <wsdl:operation name="pacPorCiudad">
            <wsdl:input message="tns:pacPorCiudadRequest"/>
            <wsdl:output message="tns:pacPorCiudadResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDetalles">
            <wsdl:input message="tns:obtenerDetallesRequest"/>
            <wsdl:output message="tns:obtenerDetallesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerPacientes">
            <wsdl:input message="tns:obtenerPacientesRequest"/>
            <wsdl:output message="tns:obtenerPacientesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="servHospBinding" type="tns:servHospPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="pacPorCiudad">
            <soap:operation soapAction="capeconnect:servHosp:servHospPortType#pacPorCiudad"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerDetalles">
            <soap:operation
                soapAction="capeconnect:servHosp:servHospPortType#obtenerDetalles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtenerPacientes">
            <soap:operation
                soapAction="capeconnect:servHosp:servHospPortType#obtenerPacientes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="servHosp">
        <wsdl:port binding="tns:servHospBinding" name="servHospPort">
            <soap:address location="http://localhost:8000/ccx/servHosp"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>